h3, ul, ul.li {
  font-family:Times cursive;
  margin-right: 50px;
}
h3 {
      padding: 30px;
}
/* Change the color of the Link  */
/* text in the right menu below   */
  ul a {
    color: #ffffff;
    text-decoration: underline;
  }
